.webScreenIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.symbolsDiv {
  position: absolute;
  height: 96.97%;
  width: 99.82%;
  top: 1.59%;
  right: 0.18%;
  bottom: 1.44%;
  left: 0;
}
.fickleflightLogoDiv {
  position: relative;
  width: 174px;
  height: 33px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.exploreDiv,
.hotelsButton,
.offersButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.hotelsButton,
.offersButton {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 14px;
  font-family: Roboto;
  color: #1262af;
  text-align: left;
}
.offersButton {
  color: #424242;
}
.navigationMenuDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.navigationMenuDiv > * + * {
  margin-left: 30px;
}
.hamburgerMenuIcon {
  display: none;
}
.hamburgerMenuIcon,
.notificationBellIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.unsplashd1UPkiFd04AIcon {
  border-radius: 38px;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  object-fit: cover;
}
.accountSectionDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.accountSectionDiv > * + * {
  margin-left: 12px;
}
.navigationRightDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.navigationRightDiv > * + * {
  margin-left: 36px;
}
.topContainerDiv,
.topHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topContainerDiv {
  flex: 1;
  justify-content: space-between;
}
.topHeader {
  align-self: stretch;
  background-color: #fff;
  height: 77px;
  flex-shrink: 0;
  padding: 22px 80px;
  box-sizing: border-box;
  justify-content: center;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  text-align: left;
  font-size: 14px;
  color: #424242;
  font-family: Roboto;
}
.bannerBackground {
  position: absolute;
  height: calc(100% - 0.4px);
  width: 100%;
  top: 0.4px;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.bedsDiv,
.staysInLosAngeles {
  position: relative;
  display: inline-block;
}
.staysInLosAngeles {
  letter-spacing: 0.02em;
  line-height: 48px;
  width: 1280px;
}
.bedsDiv {
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-weight: 500;
}
.pilldefaultDiv {
  border-radius: 27px;
  background-color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  position: relative;
  padding: 11px 21px;
  align-items: center;
  justify-content: center;
  color: #1262af;
}
.optionsDiv,
.pilldefaultDiv,
.pilldefaultDiv1 {
  display: flex;
  flex-direction: row;
}
.pilldefaultDiv1 {
  border-radius: 27px;
  border: 1px solid #fff;
  box-sizing: border-box;
  position: relative;
  padding: 11px 21px;
  align-items: center;
  justify-content: center;
}
.optionsDiv {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
}
.optionsDiv > * + * {
  margin-left: 8px;
}
.titleDiv {
  position: absolute;
  top: 50px;
  left: 0;
  width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.titleDiv > * + * {
  margin-top: 8px;
}
.bannerDiv {
  align-self: stretch;
  position: relative;
  background: linear-gradient(100.3deg, #0b5ba8, #299bd8);
  height: 193px;
  flex-shrink: 0;
}
.headerDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 42px;
  font-family: Baloo Bhai;
}
.resultsDiv {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}
.filtersIcon {
  position: absolute;
  top: 0;
  left: 62px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.filtersDiv1 {
  position: absolute;
  top: 2.5px;
  left: 0;
  letter-spacing: 0.04em;
  display: inline-block;
}
.filtersDiv {
  position: relative;
  width: 86px;
  height: 24px;
  flex-shrink: 0;
  font-size: 16px;
}
.resultsSumamryDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultsSumamryDiv > * + * {
  margin-left: 0;
}
.resultsImageIcon {
  position: relative;
  border-radius: 10px 0 0 10px;
  width: 260px;
  height: 220px;
  flex-shrink: 0;
  object-fit: cover;
}
.kingBedStandard {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 146.92px;
}
.div,
.holidayInnExpre,
.reviewsDiv {
  letter-spacing: 0.04em;
  display: inline-block;
}
.holidayInnExpre {
  position: relative;
  font-size: 22px;
  text-transform: capitalize;
  color: #303030;
  width: 232.87px;
}
.div,
.reviewsDiv {
  position: absolute;
  top: 0;
  left: 55.97px;
  width: 117.94px;
}
.div {
  left: 21.99px;
  font-weight: 500;
  width: 23.99px;
}
.starsDiv,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.vectorIcon {
  height: 84.21%;
  width: 34.78%;
  right: 65.22%;
  bottom: 15.79%;
  max-width: 100%;
  max-height: 100%;
}
.starsDiv {
  width: 45.98px;
  height: 19px;
  color: #303030;
}
.reviewDiv {
  position: relative;
  width: 173.91px;
  height: 19px;
  flex-shrink: 0;
  color: #1262af;
}
.resultAndVideo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultAndVideo > * + * {
  margin-top: 6px;
}
.videoIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.nightDiv,
.s286B {
  position: absolute;
  letter-spacing: 0.02em;
  display: inline-block;
}
.s286B {
  top: 0;
  left: 0;
  text-transform: capitalize;
}
.nightDiv {
  top: 8px;
  left: 73px;
  font-size: 14px;
}
.pricingDiv,
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 26px;
}
.rectangleDiv {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background-color: #1262af;
}
.searchFlightsDiv {
  position: absolute;
  top: calc(50% - 10.5px - 0px);
  left: calc(50% - 54px - 0.5px);
  font-size: 18px;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: Roboto;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.viewDetailsButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 37.58px;
  left: 0.49px;
  width: 164px;
  height: 46px;
}
.priceAndCta {
  position: relative;
  width: 164.49px;
  height: 83.58px;
  flex-shrink: 0;
  font-size: 22px;
  color: #303030;
}
.resultsDetailsDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px 12px 15px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultsDetailsDiv > * + * {
  margin-top: 31px;
}
.resultsCardDiv {
  align-self: stretch;
  border-radius: 10px;
  background-color: rgba(18, 98, 175, 0.05);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultsCardDiv > * + * {
  margin-left: 16px;
}
.freehandLosAngeles {
  position: absolute;
  top: 25px;
  left: 0;
  font-size: 22px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
  width: 273.87px;
}
.bedInQuad,
.div1,
.reviewsDiv1 {
  position: absolute;
  top: 0;
  display: inline-block;
}
.bedInQuad {
  left: 0;
  letter-spacing: 0.02em;
  color: #8e8e94;
  width: 172.79px;
}
.div1,
.reviewsDiv1 {
  left: 64.07px;
  letter-spacing: 0.04em;
  width: 138.7px;
}
.div1 {
  left: 25.86px;
  font-weight: 500;
  width: 28.21px;
}
.reviewDiv1,
.starsDiv1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 54.07px;
  height: 19px;
  color: #303030;
}
.reviewDiv1 {
  top: 57px;
  width: 202.77px;
  color: #1262af;
}
.resultDiv {
  flex: 1;
  position: relative;
  height: 76px;
}
.resultsTitleDiv1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.priceAndCta1 {
  position: relative;
  width: 164.49px;
  height: 83.58px;
  flex-shrink: 0;
  font-size: 22px;
}
.resultsDetailsDiv1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px 12px 15px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultsDetailsDiv1 > * + * {
  margin-top: 31px;
}
.resultsCardDiv1 {
  align-self: stretch;
  border-radius: 10px;
  background-color: rgba(18, 98, 175, 0.05);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #303030;
}
.resultsCardDiv1 > * + * {
  margin-left: 16px;
}
.mapIframe {
  border: 0;
  align-self: stretch;
  position: relative;
  height: 600px;
  flex-shrink: 0;
  display: none;
}
.resultCardsCol {
  width: 561.87px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultCardsCol > * + * {
  margin-top: 12px;
}
.mapIframe1 {
  border: 0;
  flex: 1;
  align-self: stretch;
  position: relative;
}
.resultsSectionDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  color: #8e8e94;
}
.resultsSectionDiv > * + * {
  margin-left: 23px;
}
.hotelResultsDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: #303030;
}
.hotelResultsDiv > * + * {
  margin-top: 20px;
}
.newsletterSectionBackground {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  height: 530px;
  object-fit: cover;
}
.formTitleB,
.formTitleSubtext {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.formTitleSubtext {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.formTitleB {
  font-size: 30px;
  color: #434343;
}
.formHeaderDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.formHeaderDiv > * + * {
  margin-top: 7px;
}
.fillInYourDetailsToJoinT {
  align-self: stretch;
  position: relative;
  line-height: 34px;
  display: inline-block;
}
.formTextDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputTextField {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.formFieldsDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.formFieldsDiv > * + * {
  margin-top: 10px;
}
.buttonDiv {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.unstyledButtonDiv {
  overflow: hidden;
  padding: 8px 22px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button,
.formDiv,
.unstyledButtonDiv {
  display: flex;
  flex-direction: column;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #f99a0e;
  border-radius: 4px;
  width: 164px;
  height: 56px;
  flex-shrink: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: #dc880b;
}
.formDiv {
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  padding: 28px 30px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  color: #576074;
}
.formDiv > * + * {
  margin-top: 17px;
}
.subscribeFormDiv {
  position: relative !important;
  top: 52px;
  left: auto !important;
  width: 549px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}
.subscribeFormDiv > * + * {
  margin-top: 30px;
}
.logoIcon,
.newsletterFormSection {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}
.newsletterFormSection {
  align-self: stretch;
  background-color: #f3f7fb;
  height: 529px;
}
.logoIcon {
  width: 174px;
  height: 33px;
}
.fickleFlightIsYourOneStop {
  align-self: stretch;
  position: relative;
  line-height: 27px;
  display: inline-block;
}
.socialIcons {
  position: relative;
  width: 130px;
  height: 30px;
  flex-shrink: 0;
}
.fickleFlightBioDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 40px !important;
}
.fickleFlightBioDiv > * + * {
  margin-top: 14px;
}
.seperatorDiv {
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  width: 1px;
  height: 157.87px;
  flex-shrink: 0;
}
.aboutUsDiv,
.companyDiv1 {
  position: absolute;
  top: 47.76px;
  left: 0;
  display: inline-block;
  width: 135.67px;
}
.companyDiv1 {
  top: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  width: 174.72px;
}
.careersDiv,
.howWeWork,
.newsDiv {
  position: absolute;
  top: 78.76px;
  left: 0;
  display: inline-block;
  width: 84.28px;
}
.careersDiv,
.howWeWork {
  top: 109.76px;
  width: 115.11px;
}
.howWeWork {
  top: 140.76px;
  width: 197.33px;
}
.companyDiv {
  position: relative;
  width: 197.33px;
  height: 159.76px;
  flex-shrink: 0;
}
.accountDiv,
.supportDiv1 {
  position: absolute;
  top: 47.76px;
  left: 0;
  display: inline-block;
  width: 109.63px;
}
.supportDiv1 {
  top: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  width: 131.56px;
}
.accessibilityDiv,
.fAQDiv,
.supportCenterDiv {
  position: absolute;
  top: 78.76px;
  left: 0;
  display: inline-block;
  width: 197.33px;
}
.accessibilityDiv,
.fAQDiv {
  top: 109.76px;
  width: 52.99px;
}
.accessibilityDiv {
  top: 140.76px;
  width: 164.44px;
}
.covidAdvisoryDiv {
  top: 47.76px;
  width: 172.87px;
}
.airlineFeesDiv,
.covidAdvisoryDiv,
.moreDiv1,
.tipsDiv {
  position: absolute;
  left: 0;
  display: inline-block;
}
.moreDiv1 {
  top: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  width: 76.65px;
}
.airlineFeesDiv,
.tipsDiv {
  top: 78.76px;
  width: 135.36px;
}
.tipsDiv {
  top: 109.76px;
  width: 50.56px;
}
.moreDiv {
  position: relative;
  width: 197.33px;
  height: 159.76px;
  flex-shrink: 0;
}
.footer,
.footerLinksDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footerLinksDiv {
  flex: 1;
  justify-content: space-between;
  font-size: 16px;
}
.footer {
  align-self: stretch;
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  padding: 33px 84px;
  box-sizing: border-box;
  justify-content: flex-start;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: Roboto;
}
.footer > * + * {
  margin-left: 44px;
}
.footerSectionDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: #1262ae;
}
.footerSectionDiv > * + * {
  margin-top: 0;
}
.hotelsPageDiv {
  position: relative;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: Roboto;
}
.hotelsPageDiv > * + * {
  margin-top: 0;
}
@media screen and (max-width: 1200px) {
  .titleDiv,
  .topHeader {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
  .bannerDiv {
    padding: 21px 40px 21px 41px;
    box-sizing: border-box;
  }
  .footer,
  .hotelResultsDiv {
    padding: 40px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .navigationMenuDiv {
    display: none;
  }
  .hamburgerMenuIcon {
    display: flex;
  }
  .titleDiv,
  .topHeader {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
  .bannerDiv {
    padding: 21px 24px;
    box-sizing: border-box;
  }
  .mapIframe {
    display: flex;
    max-width: 1000px;
  }
  .resultCardsCol {
    width: 100% !important;
  }
  .mapIframe1 {
    display: none;
  }
  .hotelResultsDiv,
  .subscribeFormDiv {
    padding: 30px 24px;
    box-sizing: border-box;
  }
  .subscribeFormDiv {
    padding: 24px 0;
  }
  .seperatorDiv {
    display: none;
  }
  .footer {
    flex-direction: column;
    padding: 40px 24px 30px;
    box-sizing: border-box;
  }
  .footer > * + * {
    margin-top: 44px;
    margin-left: 0;
  }
}
@media screen and (max-width: 650px) {
  .navigationRightDiv {
    display: flex;
  }
  .staysInLosAngeles {
    font-size: 32px;
  }
  .bedsDiv {
    font-size: 14px;
  }
  .resultsImageIcon {
    width: 100% !important;
    border-radius: 10px !important;
  }
  .resultsDetailsDiv {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }
  .resultsCardDiv {
    flex-direction: column;
  }
  .resultsCardDiv > * + * {
    margin-top: 16px;
    margin-left: 0;
  }
  .resultsDetailsDiv1 {
    padding: 15px;
    box-sizing: border-box;
  }
  .resultsCardDiv1 {
    flex-direction: column;
  }
  .resultsCardDiv1 > * + * {
    margin-top: 16px;
    margin-left: 0;
  }
  .resultCardsCol {
    gap: 20px;
  }
  .button {
    width: 100%;
  }
  .button:hover {
    background-color: #f99a0e;
  }
  .subscribeFormDiv {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100%;
  }
  .companyDiv {
    margin-bottom: 40px !important;
  }
  .footerLinksDiv {
    flex-direction: column;
  }
  .footer {
    padding: 30px 24px;
    box-sizing: border-box;
  }
}
